/**********************RESET CSS******************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************CODE******************************************/
.container{
  width: 1250px;
  height: 1009px;
  background-color: #192026;
  margin: auto;
  padding: 15px 83px;
}

.navbar{
  width: 1174px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.navbarLogo{
  width: 200px;
  height: 34px;
  margin-top: 7px;
}
.navbarLogo > h1{
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #fff;
}

.navbarPage{
  width: 64px;
  height: 34px;
  margin-top: 7px;
}

.navbarPage > p{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.07em;
  text-align: left;
  color:#868686;
}

.navbarInput{
  width: 374px;
  height: 48px;
  border-radius: 47px;
  padding: 0;
  border: 0;
  background-color: #374151;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.07em;
  text-align: left;
  text-align: center;

}

.textH3{
  width: 118px;
  height: 36px;
  margin-top: 30px;
  margin-bottom: 30px
}

.textH3 > h3{
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.textH2{
  width: 387px;
  height: 25px;
  margin-bottom: 30px;
}

.textH2 > h2{
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.75px;
  text-align: left;
  color: #868686;
}

.carouset{
  position: relative;
  width: 1170px;
  height: 400px;
  border-radius: 12px;
  display: flex;
  margin-bottom: 30px;
}

.carouset > img{
  width: 100%;
  height: 100%;
  display: block;
}
.carouset::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%);
  pointer-events: none;
}

.titleCarouset{
  width: 571px;
  height: 64px;
  margin-top: 200px;
  z-index: 999;
  position: absolute;
  margin-left: 47px;
}

.titleCarouset > p{
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
  color: #fff;
}

.leadCarouset{
  position: absolute;
  margin-top: 280px;
  margin-left: 47px;
  width: 571px;
  height: 81px;
}

.leadCarouset > p{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #fff;
}

.lastestRelease{
  width: 1170px;
  height: 362px;
}

.textLastestRelease{
  width: 232px;
  height: 32px;
  margin-bottom: 24px;
}

.textLastestRelease > p{
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #fff;
}

.boxMovie{
  width: 1170px;
  height: 306px;
  display: flex;
  justify-content: space-between;
}

.cardMovie{
  position: relative;
  width: 170px;
  height: 100%;
  border-radius: 12px;
  background-color: azure;
  display: flex;
  cursor: pointer;
}

.cardMovie > img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
}

.cardMovie::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #0F1E29 100%);
  pointer-events: none;
}

.cardMovie > p{
  position: absolute;
  width: 129px;
  height: 20px;
  margin-top: 225px;
  margin-left: 20px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #fff;
  z-index: 999;
}
.cardMovie > h3{
  position: absolute;
  width: 129px;
  height: 20px;
  margin-top: 263px;
  margin-left: 20px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #fff;
  z-index: 999;
}

.cardModal{
  width: 500px;
  height: 500px;
  background-color: #101010cb;
  position: fixed;
  top: 0;
  left: 40%;
}

.close {
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  color: #aaa;
  margin-left: 90%;
  font-size: 40px;
  color: #d56317;
  cursor: pointer;
  position: absolute;
}

.titleModal{
  width: 100%;
  height: 50%;
  background-color: #1920268f;
  display: flex;
}

.avaModel{
  width: 50%;
  height: 100%;
}

.avaModel > img{
  width: 100%;
  height: 100%;
}

.content{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content > h3{
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #fff;
}