*{
  padding: 0;
  margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 user-select: none;
}

.container{
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;
  height: 100%;
  background-color: bisque;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.boxCard{
  width: 250px;
  height: 350px;
  background-color: rgb(248, 252, 252);
  margin: 20px;
  cursor: pointer;
}

.imgCard{
  width: 100%;
  height: 60%;
  background-color: #d0cccc;
}

.imgCard > img{
  width: 75%;
  margin: 10px;
  margin-left: 30px;
}

p{
  font-size: 20px;
  font-weight: 700;
  color:#d0cccc;
  margin: 10px;
}
h3{
  margin: 10px;
  margin-top: 15px;
  font-size: 30px;
}

.atbCard{
  margin: 10px;
  width: 100%;
  height: 8%;
  display: flex;
}

.atb{
  width: 45%;
  height: 100%;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
}

.color01{
  background-color: rgb(0, 255, 106);
}

.color02{
  background-color: rgb(190, 67, 172);
  color: #fff;
}

.color03{
  background-color: rgb(231, 176, 76);
  color: #fff;
}

.color04{
  background: linear-gradient(45deg, #a312ab, #513838);
  color: #fff;
}

.color05{
  background-color: #2d85e9;
  color: #fff;
}

.color06{
  background-color: rgb(12, 186, 96);
  color: #fff;
}




.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
 
 

 
}

.modal-content {
 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}